*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

h1{
	font-style: bold;
	font-size: 60px;
	color: orange;
}
#title{
	display: inline;
	
}
.logo{
	float: left;
	object-fit: cover;  
    padding: 10px;
    width: 60px;
    height: 40px;
    top: 50px;
}
.float_form{
	float: left;
	
}
.center_form{
	float: center;
}
body{
	background:#fff;
	color: #030337;
	margin: 0px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #030337;
}
li{
	display: inline;
	float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    transition: 0.01s ease;
}

li a:hover {
    background-color: #E7E7F6;
    color: #030337;
}

a {
	color: #030337;
	text-decoration: none;
	padding-left: 20px;
}
a:hover{
	background-color: white;
	color: #030337;
}
h2{
	padding-left: 30px;
	font-size: 55px;
	font-style: bold;
	color: #000;
}
.heading{
	font-size:30pt;
	text-align: center;
}
.fix_table{
	width: 200px;
}
.fix_table_short{
	width: 225px;
}
.welcome_text{
	position: absolute;
    top:38%;
    left:50%;
    transform:translate(-50%,50%);
	font-size: 45px;
	font-style: bold;
	color: #000;
}
.admin_func:hover{
	color: #030337;
	font-style: italic;
	text-decoration: underline
}
.center_submit{
	text-align: center;
}
h3{
	padding-left: 50px;
	font-size: 35px;
	text-align: center;
	color: red;
	padding-top: 55px;
}
h4{
	padding-left: 20px;
	font-size: 25px;
	text-align: center;
	color: #000;
}
h5{
	padding-left: 20px;
	font-size: 25px;
	text-align: center;
	color: #000;
	padding-top: 50px;
}

.login_form{
	float: left;
}

